@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Pattaya&display=swap');

body {
      background-color: #e4ebf5;
}

.container { 
            background-color: #e4ebf5;
            width: 481px; 
            height: 53px;
            padding: 13px;
            margin-left: 480px;
            margin-top: 200px;
            border-radius: 54px;
            box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.7);
            
}

.container:hover {
                 
              box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), inset -9px -9px 16px    rgba(255,255,255, 0.7);
}

input {
       width: 443px;
       height: 33px;
       margin-left: 12px;
       margin-top: 6px;
       padding: 5px;
       border-radius: 102px;
       border: 0px;
       transition: 0.4s ease-in-out;
       
}

input:hover {
             transform: scale(1.05,1.05);
}

input:focus {
              color: #151515;
              font-family: 'Josefin Sans', sans-serif;
              font-size: 18px;
              outline: none;
              border-left: 5px solid #00A4FF;
}

.material-icons.md-18 {
                  position: relative;
                  left: 427px;
                  top: -35px;
                  font-size: 28px;
                  color: rgba(121, 121, 121, 0.8);
                  transition: 0.3s ease;
}

.material-icons.md-18:hover {
                             cursor: pointer;
                             color: rgba(121, 121, 121, 1);
}

.material-icons.md-18:active {
                          color: #191919; 
                          cursor: pointer;
}