body {
  font-family: sans-serif;
  background:blue;
}



small {
  color: #ccc;
}

path {
  cursor: pointer;
}

path:hover {
  /* fill: rebeccapurple; */
  stroke-width: 2.5;
  stroke: black;
  bottom:50px;
  visibility:visible;
  opacity:1;
}

#popper {
  visibility: hidden;
  padding: 1em;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 10px 3px rbga(0, 0, 0, 0.3);
  z-index: 9 !important;
  
}
#svg2 {
  /* height: 800px; */
  width: 1000%;
  /* margin: 0px, auto; */
  overflow-y: auto;
  height: 1000vh;
  margin-left: 15%;
  margin-top: 5%;
}
#map {
  /* display: grid; */
  align-content: center;
  align-items: center;
  background-color: blue;
}

